# Moodle Authentication
MOODLE_USERNAME=ilavarasan
MOODLE_PASSWORD=1504

# Application Configuration
WEB_APP_URL=https://script.google.com/macros/s/AKfycbxQLmOYSaaNaMxqA68rddM6JfEc3rYU3xPSYIVHw_jIGC0QeJv4QWYwWeuS_i8q_fhb/exec
POLL_INTERVAL_MINUTES=1
HEADLESS_MODE=true
